/* DestinationView.css */
.transport-option {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-background-radius: 10px;
    -fx-transition: background-color 0.3s ease;
}

.transport-option:hover {
    -fx-background-color: white;
}
#searchButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#btAccount{

    -fx-text-fill: #263e2a;
    -fx-background-color: #f9f7e8;

    -fx-border-color: #263e2a; /* Màu viền */
    /*-fx-background-color: #7c7b5a;!*maàu nền*!*/
    -fx-border-width: 2px; /* Độ rộng viền */
    -fx-border-radius: 20px; /* Bán kính bo tròn viền */
    -fx-background-radius: 25;

    -fx-transition: all 0.5s ease;
}

#btAccount:hover{
    -fx-background-color: #263e2a;
    -fx-text-fill: #f9f7e8;

}
.btMenu{
    -fx-background-color: #f9f7e8;
    -fx-font-family: 'Times New Roman', serif;
    -fx-font-size: 25px;
    -fx-text-fill: #263e2a;
}
.btMenu:hover{
    -fx-background-color: #327da8;
}
/*Scroll Pane*/
/*.scroll-pane{*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.scroll-pane .viewport{*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.scroll-bar{*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.scroll-bar .viewport{*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.scroll-bar .vertical{*/
/*    -fx-background-color: transparent;*/
/*}*/
.radiusPane{
    -fx-background-radius: 10px;
    -fx-background-color: #f9f7e8;
    -fx-border-width: 2px; /* Độ rộng viền */

    -fx-border-color: #263e2a;
    -fx-border-radius: 10px;
}
#btDelete{
    -fx-background-color: #f9f7e8;
    -fx-text-fill: #263e2a;
    -fx-border-color: #d5304d;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 25;
    -fx-transition: all 0.5s ease;
}
#btManage{
    -fx-background-color: #f9f7e8;
    -fx-text-fill: #263e2a;
    -fx-border-color: #263e2a;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 10;
    -fx-transition: all 0.5s ease;
}
.font{
    -fx-font-family: 'Times New Roman', serif;
    -fx-font-size: 20px;
    -fx-text-fill: #302c2c;
}