.root{
    -fx-background-image: url("../img/SBBackground.png");
    -fx-background-size: cover;
}
.formInput{
    -fx-font-family: "Times New Roman";
    -fx-background-color: #f9f7e8;
    -fx-font-size: 15px;

    -fx-border-color: #263e2a; /* Màu viền */
    -fx-border-width: 2px; /* Độ rộng viền */
    -fx-border-radius: 20px; /* Bán kính bo tròn viền */
    -fx-background-radius: 25;
}
.date-picker .text-field {
    -fx-control-inner-background: #f9f7e8 ;
}
.font{
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #a1d8ab;
}
.font2{
    -fx-font-style: italic;
}