.BGtour{
    -fx-background-color: #7ea396;
}
.formInput{
    -fx-font-family: "Times New Roman";
    -fx-background-color: #f9f7e8;

    -fx-border-color: #263e2a; /* Màu viền */
    -fx-border-width: 2px; /* Độ rộng viền */
    -fx-border-radius: 20px; /* Bán kính bo tròn viền */
    -fx-background-radius: 25;
}
.font{
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #263e2a;
}
.date-picker .text-field {
    -fx-control-inner-background: #f9f7e8 ;
    -fx-border-color: #263e2a;
}
.text-field{
    -fx-text-fill: #263e2a;
    -fx-font-size: 12px;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
}
.font2{
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #a67676;
}
.date-picker{
    -fx-alignment: center;
}